---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"179-Ob+JKqqmWqqZ3y2SzFH9qGm3VNc"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 339.646ms
    body:
      encoding: UTF-8
      string: '{"collections":[{"id":"653816abb6e95dab52f53077","displayName":"Articles","singularName":"Article","slug":"articles","createdOn":"2023-10-24T19:10:35.092Z","lastUpdated":"2023-10-24T19:10:35.260Z"},{"id":"653818838961b39ddebe0641","displayName":"Stories","singularName":"Story","slug":"stories","createdOn":"2023-10-24T19:18:27.801Z","lastUpdated":"2023-10-24T19:18:27.978Z"}]}'
  recorded_at: Tue, 12 Dec 2023 13:05:49 GMT
[...]
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items
    body:
      encoding: UTF-8
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"MyString"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10a-jqs7dwhKLc7RGCwrGM97tHChpbQ"
      Retry-After:
      - '59'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 345.073ms
    body:
      encoding: UTF-8
      string: '{"id":"65785aafa59fd1b6d1c3ecf0","cmsLocaleId":"653816aa76146f23a78743c8","lastPublished":null,"lastUpdated":"2023-12-12T13:05:51.566Z","createdOn":"2023-12-12T13:05:51.566Z","isArchived":false,"isDraft":false,"fieldData":{"name":"MyString","slug":"mystring-8dc66"}}'
  recorded_at: Tue, 12 Dec 2023 13:05:51 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/publish
    body:
      encoding: UTF-8
      string: '{"itemIds":["65785aafa59fd1b6d1c3ecf0"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-nJXJsLESG2Lew6v37t1E6eoIfW0"
      Retry-After:
      - '58'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 334.647ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["65785aafa59fd1b6d1c3ecf0"],"errors":[]}'
  recorded_at: Tue, 12 Dec 2023 13:05:52 GMT
recorded_with: VCR 6.1.0
