---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c3-2284ab52"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 44.143ms
      X-Wf-Rid:
      - fbec6ca3-f413-41b3-9acb-48882126c8b6
    body:
      encoding: UTF-8
      string: '[{"_id":"60dec92f438fac75a4c6f319","lastUpdated":"2021-07-02T08:07:12.671Z","createdOn":"2021-06-21T13:51:07.981Z","name":"Events","slug":"events","singularName":"Event"},{"_id":"60dec92f438facb188c6f318","lastUpdated":"2021-07-02T08:07:12.664Z","createdOn":"2021-06-16T17:17:46.482Z","name":"Stories","slug":"stories","singularName":"Story"},{"_id":"60dedb8820c1f553b0e817cf","lastUpdated":"2021-07-02T09:44:10.730Z","createdOn":"2021-07-02T09:25:28.723Z","name":"Job
        Listings","slug":"job-listings","singularName":"Job Listing"},{"_id":"60def7d3372f766c163734c2","lastUpdated":"2021-07-02T11:48:19.748Z","createdOn":"2021-07-02T11:26:11.474Z","name":"Articles","slug":"articles","singularName":"Article"}]'
  recorded_at: Fri, 02 Jul 2021 13:08:16 GMT
[...]
- request:
    method: post
    uri: https://api.webflow.com/collections/60def7d3372f766c163734c2/items?live=true
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"MyString"}}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"194-30fa63d4"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 89.810ms
      X-Wf-Rid:
      - aedb16f0-4737-45c9-bc84-d990539ae957
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"name":"MyString","slug":"mystring-a","updated-on":"2021-07-02T13:08:17.039Z","updated-by":"Person_600e7e930d76e69196a9592b","created-on":"2021-07-02T13:08:17.039Z","created-by":"Person_600e7e930d76e69196a9592b","published-on":"2021-07-02T13:08:17.039Z","published-by":"Person_600e7e930d76e69196a9592b","_cid":"60def7d3372f766c163734c2","_id":"60df0fc14d24d83ca1c8ecfa"}'
  recorded_at: Fri, 02 Jul 2021 13:08:17 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18d-8cf8d76f"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Response-Time:
      - 55.218ms
      X-Wf-Rid:
      - eb070c1b-62df-42bf-9b09-a4ab27f7d71a
    body:
      encoding: UTF-8
      string: '{"_id":"<WEBFLOW_SITE_ID>","createdOn":"2021-07-02T08:07:12.561Z","name":"Test
        Community Site","shortName":"test-community-site-f65af9-0114055d24d0","lastPublished":"2021-07-02T12:29:47.309Z","previewUrl":"https://screenshots.webflow.com/sites/<WEBFLOW_SITE_ID>/20210702122947_15bb90399fb6df03b6a0b88456c6e8c7.png","timezone":"America/New_York","database":"60dec92f438facce58c6f317"}'
  recorded_at: Fri, 02 Jul 2021 13:08:17 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>/domains
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-d4cbb29"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Response-Time:
      - 27.076ms
      X-Wf-Rid:
      - 32f8a762-fd7e-4086-b208-992fdb5d1d91
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 02 Jul 2021 13:08:18 GMT
[...]
- request:
    method: post
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>/publish
    body:
      encoding: UTF-8
      string: '{"domains":["test-community-site-f65af9-0114055d24d0.webflow.io"]}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f-dfef9497"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Response-Time:
      - 76.202ms
      X-Wf-Rid:
      - 168eff65-fbb8-4ba8-b9cb-8e128cabe1cc
    body:
      encoding: UTF-8
      string: '{"queued":true}'
  recorded_at: Fri, 02 Jul 2021 13:08:18 GMT
- request:
    method: post
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>/publish
    body:
      encoding: UTF-8
      string: '{"domains":["test-community-site-f65af9-0114055d24d0.webflow.io"]}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f-dfef9497"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Response-Time:
      - 193.014ms
      X-Wf-Rid:
      - 26b4fe8b-2098-455c-9237-f4df1bd0c65b
    body:
      encoding: UTF-8
      string: '{"queued":true}'
  recorded_at: Fri, 02 Jul 2021 13:08:18 GMT
recorded_with: VCR 6.0.0
