---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c3-2284ab52"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Response-Time:
      - 27.894ms
      X-Wf-Rid:
      - 65744d94-386f-44c9-b09c-c262299ce54a
    body:
      encoding: UTF-8
      string: '[{"_id":"60dec92f438fac75a4c6f319","lastUpdated":"2021-07-02T08:07:12.671Z","createdOn":"2021-06-21T13:51:07.981Z","name":"Events","slug":"events","singularName":"Event"},{"_id":"60dec92f438facb188c6f318","lastUpdated":"2021-07-02T08:07:12.664Z","createdOn":"2021-06-16T17:17:46.482Z","name":"Stories","slug":"stories","singularName":"Story"},{"_id":"60dedb8820c1f553b0e817cf","lastUpdated":"2021-07-02T09:44:10.730Z","createdOn":"2021-07-02T09:25:28.723Z","name":"Job
        Listings","slug":"job-listings","singularName":"Job Listing"},{"_id":"60def7d3372f766c163734c2","lastUpdated":"2021-07-02T11:48:19.748Z","createdOn":"2021-07-02T11:26:11.474Z","name":"Articles","slug":"articles","singularName":"Article"}]'
  recorded_at: Fri, 02 Jul 2021 11:52:05 GMT
[...]
- request:
    method: post
    uri: https://api.webflow.com/collections/60def7d3372f766c163734c2/items?live=true
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"MyString"}}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"194-4cd93db8"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Response-Time:
      - 168.673ms
      X-Wf-Rid:
      - 6ebdcd55-e3a5-4b5b-ab11-b2ebb87685de
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"name":"MyString","slug":"mystring-c","updated-on":"2021-07-02T11:52:06.024Z","updated-by":"Person_600e7e930d76e69196a9592b","created-on":"2021-07-02T11:52:06.024Z","created-by":"Person_600e7e930d76e69196a9592b","published-on":"2021-07-02T11:52:06.024Z","published-by":"Person_600e7e930d76e69196a9592b","_cid":"60def7d3372f766c163734c2","_id":"60defde69683113ebb79e864"}'
  recorded_at: Fri, 02 Jul 2021 11:52:06 GMT
recorded_with: VCR 6.0.0
