---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"179-Ob+JKqqmWqqZ3y2SzFH9qGm3VNc"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 55.057ms
    body:
      encoding: UTF-8
      string: '{"collections":[{"id":"653816abb6e95dab52f53077","displayName":"Articles","singularName":"Article","slug":"articles","createdOn":"2023-10-24T19:10:35.092Z","lastUpdated":"2023-10-24T19:10:35.260Z"},{"id":"653818838961b39ddebe0641","displayName":"Stories","singularName":"Story","slug":"stories","createdOn":"2023-10-24T19:18:27.801Z","lastUpdated":"2023-10-24T19:18:27.978Z"}]}'
  recorded_at: Tue, 24 Oct 2023 20:27:56 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items
    body:
      encoding: UTF-8
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"MyString"}}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10a-HhLUGCEGCbGcUHLhTGQpb9SMtH4"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 382.480ms
    body:
      encoding: UTF-8
      string: '{"id":"653828d0a28415d5b97b53cc","cmsLocaleId":"653816aa76146f23a78743c8","lastPublished":null,"lastUpdated":"2023-10-24T20:28:00.313Z","createdOn":"2023-10-24T20:28:00.313Z","isArchived":false,"isDraft":false,"fieldData":{"name":"MyString","slug":"mystring-d1810"}}'
  recorded_at: Tue, 24 Oct 2023 20:27:57 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/publish
    body:
      encoding: UTF-8
      string: '{"itemIds":["653828d0a28415d5b97b53cc"]}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-nXr2zPMox9xV1dbYdVn+m2SAVPs"
      Retry-After:
      - '59'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 259.912ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["653828d0a28415d5b97b53cc"],"errors":[]}'
  recorded_at: Tue, 24 Oct 2023 20:27:58 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/653828d0a28415d5b97b53cc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"120-BrfvL20WQuaT25zIfTr/U1JFKMA"
      Retry-After:
      - '56'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Response-Time:
      - 320.891ms
    body:
      encoding: UTF-8
      string: '{"id":"653828d0a28415d5b97b53cc","cmsLocaleId":"653816aa76146f23a78743c8","lastPublished":"2023-10-24T20:28:01.375Z","lastUpdated":"2023-10-24T20:28:01.375Z","createdOn":"2023-10-24T20:28:00.313Z","isArchived":false,"isDraft":false,"fieldData":{"name":"MyString","slug":"mystring-d1810"}}'
  recorded_at: Tue, 24 Oct 2023 20:28:00 GMT
recorded_with: VCR 6.1.0
