---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"179-Ob+JKqqmWqqZ3y2SzFH9qGm3VNc"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 405.825ms
    body:
      encoding: UTF-8
      string: '{"collections":[{"id":"653816abb6e95dab52f53077","displayName":"Articles","singularName":"Article","slug":"articles","createdOn":"2023-10-24T19:10:35.092Z","lastUpdated":"2023-10-24T19:10:35.260Z"},{"id":"653818838961b39ddebe0641","displayName":"Stories","singularName":"Story","slug":"stories","createdOn":"2023-10-24T19:18:27.801Z","lastUpdated":"2023-10-24T19:18:27.978Z"}]}'
  recorded_at: Wed, 06 Dec 2023 04:35:56 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items
    body:
      encoding: UTF-8
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"MyString"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"104-m24j38frInIlnKig/6WMY8KzGzA"
      Retry-After:
      - '59'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 483.688ms
    body:
      encoding: UTF-8
      string: '{"id":"656ffa2dddb10e6282ce013d","cmsLocaleId":"653816aa76146f23a78743c8","lastPublished":null,"lastUpdated":"2023-12-06T04:35:57.875Z","createdOn":"2023-12-06T04:35:57.875Z","isArchived":false,"isDraft":false,"fieldData":{"name":"MyString","slug":"mystring"}}'
  recorded_at: Wed, 06 Dec 2023 04:35:57 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/publish
    body:
      encoding: UTF-8
      string: '{"itemIds":["656ffa2dddb10e6282ce013d"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-OpXmmKNmPdgQ95V6QKAF6GFwTTw"
      Retry-After:
      - '59'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 732.754ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["656ffa2dddb10e6282ce013d"],"errors":[]}'
  recorded_at: Wed, 06 Dec 2023 04:35:58 GMT
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/656ffa2dddb10e6282ce013d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11a-kdru8qXDSBGXGs1MSz0DW/KI1wo"
      Retry-After:
      - '57'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 40.464ms
    body:
      encoding: UTF-8
      string: '{"id":"656ffa2dddb10e6282ce013d","cmsLocaleId":"653816aa76146f23a78743c8","lastPublished":"2023-12-06T04:35:59.022Z","lastUpdated":"2023-12-06T04:35:59.022Z","createdOn":"2023-12-06T04:35:57.875Z","isArchived":false,"isDraft":false,"fieldData":{"name":"MyString","slug":"mystring"}}'
  recorded_at: Wed, 06 Dec 2023 04:35:59 GMT
recorded_with: VCR 6.1.0
