---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/webflow_site_id/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"O5WggQZDm+J7uUXdpmZGJg=="
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 44.306ms
      X-Wf-Rid:
      - 62d3a4d0-d741-4163-a616-b7d47a591856
    body:
      encoding: UTF-8
      string: '[{"_id":"601049c19338214819291922","lastUpdated":"2021-01-26T16:56:39.839Z","createdOn":"2021-01-11T23:24:29.591Z","name":"Articles","slug":"articles","singularName":"Article"},{"_id":"601049c19338215de7291945","lastUpdated":"2021-01-26T16:56:39.946Z","createdOn":"2021-01-12T12:38:39.095Z","name":"Documents","slug":"documents","singularName":"Document"},{"_id":"601049c19338211a6d29195b","lastUpdated":"2021-01-26T16:56:40.043Z","createdOn":"2021-01-11T23:28:29.566Z","name":"Entities","slug":"entities","singularName":"Entity"},{"_id":"601049c193382173b229196f","lastUpdated":"2021-01-26T16:56:40.082Z","createdOn":"2021-01-12T01:50:06.685Z","name":"Events","slug[...]
- request:
    method: post
    uri: https://api.webflow.com/collections/601049c193382147ea2919a8/items?live=true
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"Return of the Fake
        Clash","link":"http://schultz.info"}}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1cf-776e00a2"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 165.423ms
      X-Wf-Rid:
      - dc3bb35f-1e93-4c52-adfe-ea6e7f0aa1b8
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"link":"http://schultz.info","name":"Return
        of the Fake Clash","slug":"return-of-the-fake-clash","updated-on":"2021-01-28T12:01:58.755Z","updated-by":"Person_600e7e930d76e69196a9592b","created-on":"2021-01-28T12:01:58.755Z","created-by":"Person_600e7e930d76e69196a9592b","published-on":"2021-01-28T12:01:58.755Z","published-by":"Person_600e7e930d76e69196a9592b","_cid":"601049c193382147ea2919a8","_id":"webflow_item_id"}'
  recorded_at: Thu, 28 Jan 2021 12:01:58 GMT
recorded_with: VCR 6.0.0
