---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"179-Ob+JKqqmWqqZ3y2SzFH9qGm3VNc"
      Retry-After:
      - '30'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 104.040ms
    body:
      encoding: UTF-8
      string: '{"collections":[{"id":"653816abb6e95dab52f53077","displayName":"Articles","singularName":"Article","slug":"articles","createdOn":"2023-10-24T19:10:35.092Z","lastUpdated":"2023-10-24T19:10:35.260Z"},{"id":"653818838961b39ddebe0641","displayName":"Stories","singularName":"Story","slug":"stories","createdOn":"2023-10-24T19:18:27.801Z","lastUpdated":"2023-10-24T19:18:27.978Z"}]}'
  recorded_at: Tue, 24 Oct 2023 19:18:39 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653818838961b39ddebe0641/items
    body:
      encoding: UTF-8
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"MyString"}}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"104-C57eX7lNz+BKvg9rak3TtDHxFGs"
      Retry-After:
      - '29'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 227.188ms
    body:
      encoding: UTF-8
      string: '{"id":"65381893e6d401cdd3f3a363","cmsLocaleId":"653816aa76146f23a78743c8","lastPublished":null,"lastUpdated":"2023-10-24T19:18:43.471Z","createdOn":"2023-10-24T19:18:43.471Z","isArchived":false,"isDraft":false,"fieldData":{"name":"MyString","slug":"mystring"}}'
  recorded_at: Tue, 24 Oct 2023 19:18:40 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653818838961b39ddebe0641/items/publish
    body:
      encoding: UTF-8
      string: '{"itemIds":["65381893e6d401cdd3f3a363"]}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-lyoodO/vgkNtftK1F9W6qqm60+c"
      Retry-After:
      - '28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 1330.889ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["65381893e6d401cdd3f3a363"],"errors":[]}'
  recorded_at: Tue, 24 Oct 2023 19:18:42 GMT
recorded_with: VCR 6.1.0
