---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"179-Ob+JKqqmWqqZ3y2SzFH9qGm3VNc"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 68.574ms
    body:
      encoding: UTF-8
      string: '{"collections":[{"id":"653816abb6e95dab52f53077","displayName":"Articles","singularName":"Article","slug":"articles","createdOn":"2023-10-24T19:10:35.092Z","lastUpdated":"2023-10-24T19:10:35.260Z"},{"id":"653818838961b39ddebe0641","displayName":"Stories","singularName":"Story","slug":"stories","createdOn":"2023-10-24T19:18:27.801Z","lastUpdated":"2023-10-24T19:18:27.978Z"}]}'
  recorded_at: Tue, 24 Oct 2023 22:10:45 GMT
- request:
    method: patch
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/65382196f852bb061babf6c1
    body:
      encoding: UTF-8
      string: '{"isArchived":true,"isDraft":false}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11f-zHWWyKnAkGWxjb5AZ4R9YqjFIcc"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 1178.954ms
    body:
      encoding: UTF-8
      string: '{"id":"65382196f852bb061babf6c1","cmsLocaleId":"653816aa76146f23a78743c8","lastPublished":"2023-10-24T20:31:30.921Z","lastUpdated":"2023-10-24T22:10:50.070Z","createdOn":"2023-10-24T19:57:10.041Z","isArchived":true,"isDraft":false,"fieldData":{"name":"MyString","slug":"mystring-96463"}}'
  recorded_at: Tue, 24 Oct 2023 22:10:47 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/publish
    body:
      encoding: UTF-8
      string: '{"itemIds":["65382196f852bb061babf6c1"]}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-23bKQpFFZUx+409y6UMenFVzBgE"
      Retry-After:
      - '58'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 212.530ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["65382196f852bb061babf6c1"],"errors":[]}'
  recorded_at: Tue, 24 Oct 2023 22:10:48 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/65382196f852bb061babf6c1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c-2nfC/dZTSQtY8JPEA6j14nf0UYA"
      Retry-After:
      - '55'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Response-Time:
      - 40.753ms
    body:
      encoding: UTF-8
      string: '{"message":"Requested resource not found","code":"resource_not_found","externalReference":null,"details":[]}'
  recorded_at: Tue, 24 Oct 2023 22:10:50 GMT
recorded_with: VCR 6.1.0
