---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"179-Ob+JKqqmWqqZ3y2SzFH9qGm3VNc"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 104.079ms
    body:
      encoding: UTF-8
      string: '{"collections":[{"id":"653816abb6e95dab52f53077","displayName":"Articles","singularName":"Article","slug":"articles","createdOn":"2023-10-24T19:10:35.092Z","lastUpdated":"2023-10-24T19:10:35.260Z"},{"id":"653818838961b39ddebe0641","displayName":"Stories","singularName":"Story","slug":"stories","createdOn":"2023-10-24T19:18:27.801Z","lastUpdated":"2023-10-24T19:18:27.978Z"}]}'
  recorded_at: Tue, 24 Oct 2023 19:35:30 GMT
- request:
    method: delete
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/65381713d7c46e096ada14c3
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - W/"a-bAsFyilMr4Ra1hIU5PyoyFRunpI"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 1143.762ms
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 24 Oct 2023 19:36:51 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/65381713d7c46e096ada14c3
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c-2nfC/dZTSQtY8JPEA6j14nf0UYA"
      Retry-After:
      - '48'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 1814.407ms
    body:
      encoding: UTF-8
      string: '{"message":"Requested resource not found","code":"resource_not_found","externalReference":null,"details":[]}'
  recorded_at: Tue, 24 Oct 2023 19:43:42 GMT
recorded_with: VCR 6.1.0
