---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/webflow_site_id/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"O5WggQZDm+J7uUXdpmZGJg=="
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 167.847ms
      X-Wf-Rid:
      - 43ab0ac4-9266-4225-83d7-38be594574c8
    body:
      encoding: UTF-8
      string: '[{"_id":"601049c193382147ea2919a8","lastUpdated":"2021-01-26T16:56:39.839Z","createdOn":"2021-01-11T23:24:29.591Z","name":"Articles","slug":"articles","singularName":"Article"},{"_id":"601049c19338215de7291945","lastUpdated":"2021-01-26T16:56:39.946Z","createdOn":"2021-01-12T12:38:39.095Z","name":"Documents","slug":"documents","singularName":"Document"},{"_id":"601049c19338211a6d29195b","lastUpdated":"2021-01-26T16:56:40.043Z","createdOn":"2021-01-11T23:28:29.566Z","name":"Entities","slug":"entities","singularName":"Entity"},{"_id":"601049c193382173b229196f","lastUpdated":"2021-01-26T16:56:40.082Z","createdOn":"2021-01-12T01:50:06.685Z","name":"Events","slug[...]
- request:
    method: delete
    uri: https://api.webflow.com/collections/601049c193382147ea2919a8/items/webflow_item_id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d-b45e80bf"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 631.662ms
      X-Wf-Rid:
      - 317a17dd-1474-46b2-afa1-2fcbbfb3c45c
    body:
      encoding: UTF-8
      string: '{"deleted":1}'
  recorded_at: Thu, 28 Jan 2021 17:40:49 GMT
recorded_with: VCR 6.0.0
