---
http_interactions:
  - request:
      method: get
      uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>/collections
      body:
        encoding: UTF-8
        string: ""
      headers:
        Authorization:
          - Bearer <WEBFLOW_API_TOKEN>
        Accept-Version:
          - 1.0.0
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"2c3-2284ab52"
        X-Ratelimit-Limit:
          - "60"
        X-Ratelimit-Remaining:
          - "59"
        X-Response-Time:
          - 35.411ms
        X-Wf-Rid:
          - 01cd1eca-9635-40b1-9aea-b5eccf31bad7
      body:
        encoding: UTF-8
        string:
          '[{"_id":"60dec92f438fac75a4c6f319","lastUpdated":"2021-07-02T08:07:12.671Z","createdOn":"2021-06-21T13:51:07.981Z","name":"Events","slug":"events","singularName":"Event"},{"_id":"60dec92f438facb188c6f318","lastUpdated":"2021-07-02T08:07:12.664Z","createdOn":"2021-06-16T17:17:46.482Z","name":"Stories","slug":"stories","singularName":"Story"},{"_id":"60dedb8820c1f553b0e817cf","lastUpdated":"2021-07-02T09:44:10.730Z","createdOn":"2021-07-02T09:25:28.723Z","name":"Job
          Listings","slug":"job-listings","singularName":"Job Listing"},{"_id":"60def7d3372f766c163734c2","lastUpdated":"2021-07-02T11:48:19.748Z","createdOn":"2021-07-02T11:26:11.474Z","name":"Articles","slug":"articles","singularName":"Article"}]'
    recorded_at: Fri, 02 Jul 2021 12:29:43 GMT
  - request:
      method: delete
      uri: https://api.webflow.com/collections/60def7d3372f766c163734c2/items/60defde69683113ebb79e864?live=true
      body:
        encoding: UTF-8
        string: ""
      headers:
        Authorization:
          - Bearer <WEBFLOW_API_TOKEN>
        Accept-Version:
          - 1.0.0
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"d-b45e80bf"
        X-Ratelimit-Limit:
          - "60"
        X-Ratelimit-Remaining:
          - "58"
        X-Response-Time:
          - 82.442ms
        X-Wf-Rid:
          - cd62f9d1-40bf-45d2-a98c-4b1aa527f3ea
      body:
        encoding: UTF-8
        string: '{"deleted":1}'
    recorded_at: Fri, 02 Jul 2021 12:29:44 GMT
  - request:
      method: delete
      uri: https://api.webflow.com/collections/60def7d3372f766c163734c2/items/60defde69683113ebb79e864
      body:
        encoding: UTF-8
        string: ""
      headers:
        Authorization:
          - Bearer <WEBFLOW_API_TOKEN>
        Accept-Version:
          - 1.0.0
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"d-b45e80bf"
        X-Ratelimit-Limit:
          - "60"
        X-Ratelimit-Remaining:
          - "58"
        X-Response-Time:
          - 82.442ms
        X-Wf-Rid:
          - cd62f9d1-40bf-45d2-a98c-4b1aa527f3ea
      body:
        encoding: UTF-8
        string: '{"deleted":1}'
    recorded_at: Fri, 02 Jul 2021 12:29:44 GMT
recorded_with: VCR 6.0.0
