---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/6048c57f255aff50533565bf/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"arMfhBv634SfndyDOD0h8A=="
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 49.017ms
      X-Wf-Rid:
      - 0fb8152c-2e76-436f-a463-925efd51adef
    body:
      encoding: UTF-8
      string: '[{"_id":"6048c57f255aff31be3565cb","lastUpdated":"2021-03-10T13:11:33.700Z","createdOn":"2021-01-22T20:05:10.724Z","name":"Forms","slug":"forms","singularName":"Form"},{"_id":"6048c57f255aff370f3565ca","lastUpdated":"2021-03-10T13:11:33.690Z","createdOn":"2021-01-14T16:55:35.029Z","name":"FAQs","slug":"faqs","singularName":"FAQ"},{"_id":"6048c57f255aff41433565c9","lastUpdated":"2021-03-10T13:11:33.681Z","createdOn":"2021-01-12T01:50:06.685Z","name":"Events","slug":"events","singularName":"Event"},{"_id":"6048c57f255aff5fe43565c8","lastUpdated":"2021-04-27T08:29:21.155Z","createdOn":"2021-01-11T23:28:29.566Z","name":"Entities","slug":"entities","singula[...]
- request:
    method: delete
    uri: https://api.webflow.com/collections/6048c57f255affcd513565c5/items/60ba0e078987c80f387d83c8
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e-dad11a87"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 282.495ms
      X-Wf-Rid:
      - eb947e66-ed8d-403b-9d2a-0855b02b1bec
    body:
      encoding: UTF-8
      string: '{"deleted":{}}'
  recorded_at: Fri, 04 Jun 2021 11:27:48 GMT
- request:
    method: get
    uri: https://api.webflow.com/sites/6048c57f255aff50533565bf
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16e-3833c5c7"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 25.585ms
      X-Wf-Rid:
      - c212165f-1e13-487d-baae-1f66a2c70280
    body:
      encoding: UTF-8
      string: '{"_id":"6048c57f255aff50533565bf","createdOn":"2021-03-10T13:11:33.510Z","name":"Sampletown,
        CT","shortName":"sampletown-ct","lastPublished":"2021-06-04T11:19:04.311Z","previewUrl":"https://screenshots.webflow.com/sites/6048c57f255aff50533565bf/20210604110538_ea4050e833f26b40f51fc9e43fe8b3c5.png","timezone":"America/New_York","database":"6048c57f255aff63f93565c2"}'
  recorded_at: Fri, 04 Jun 2021 11:27:49 GMT
- request:
    method: get
    uri: https://api.webflow.com/sites/6048c57f255aff50533565bf/domains
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-d4cbb29"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 33.347ms
      X-Wf-Rid:
      - 82918fe0-cf5e-4e4c-a15a-44eef5cc270e
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 04 Jun 2021 11:27:50 GMT
- request:
    method: post
    uri: https://api.webflow.com/sites/6048c57f255aff50533565bf/publish
    body:
      encoding: UTF-8
      string: '{"domains":["sampletown-ct.webflow.io"]}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f-dfef9497"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Response-Time:
      - 91.412ms
      X-Wf-Rid:
      - 61c1003f-c682-4386-b299-9df40101e16c
    body:
      encoding: UTF-8
      string: '{"queued":true}'
  recorded_at: Fri, 04 Jun 2021 11:27:51 GMT
recorded_with: VCR 6.0.0
