---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c3-2284ab52"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 35.411ms
      X-Wf-Rid:
      - 01cd1eca-9635-40b1-9aea-b5eccf31bad7
    body:
      encoding: UTF-8
      string: '[{"_id":"60dec92f438fac75a4c6f319","lastUpdated":"2021-07-02T08:07:12.671Z","createdOn":"2021-06-21T13:51:07.981Z","name":"Events","slug":"events","singularName":"Event"},{"_id":"60dec92f438facb188c6f318","lastUpdated":"2021-07-02T08:07:12.664Z","createdOn":"2021-06-16T17:17:46.482Z","name":"Stories","slug":"stories","singularName":"Story"},{"_id":"60dedb8820c1f553b0e817cf","lastUpdated":"2021-07-02T09:44:10.730Z","createdOn":"2021-07-02T09:25:28.723Z","name":"Job
        Listings","slug":"job-listings","singularName":"Job Listing"},{"_id":"60def7d3372f766c163734c2","lastUpdated":"2021-07-02T11:48:19.748Z","createdOn":"2021-07-02T11:26:11.474Z","name":"Articles","slug":"articles","singularName":"Article"}]'
  recorded_at: Fri, 02 Jul 2021 12:29:43 GMT
- request:
    method: delete
    uri: https://api.webflow.com/collections/60def7d3372f766c163734c2/items/60defde69683113ebb79e864
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d-b45e80bf"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 82.442ms
      X-Wf-Rid:
      - cd62f9d1-40bf-45d2-a98c-4b1aa527f3ea
    body:
      encoding: UTF-8
      string: '{"deleted":1}'
  recorded_at: Fri, 02 Jul 2021 12:29:44 GMT
- request:
    method: get
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18d-49adda5a"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 23.270ms
      X-Wf-Rid:
      - 202f9b75-6103-4be4-8888-b18cc23dad8e
    body:
      encoding: UTF-8
      string: '{"_id":"<WEBFLOW_SITE_ID>","createdOn":"2021-07-02T08:07:12.561Z","name":"Test
        Community Site","shortName":"test-community-site-f65af9-0114055d24d0","lastPublished":"2021-07-02T11:48:25.651Z","previewUrl":"https://screenshots.webflow.com/sites/<WEBFLOW_SITE_ID>/20210702114825_3bf450d35d2e4244129220494562d95a.png","timezone":"America/New_York","database":"60dec92f438facce58c6f317"}'
  recorded_at: Fri, 02 Jul 2021 12:29:44 GMT
- request:
    method: get
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>/domains
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-d4cbb29"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 36.878ms
      X-Wf-Rid:
      - 3c410c5a-407e-4578-a772-24592c90d73a
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 02 Jul 2021 12:29:45 GMT
- request:
    method: post
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>/publish
    body:
      encoding: UTF-8
      string: '{"domains":["test-community-site-f65af9-0114055d24d0.webflow.io"]}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f-dfef9497"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Response-Time:
      - 75.465ms
      X-Wf-Rid:
      - c0900d7b-655f-4a8e-93ec-39ec4c7dc4f5
    body:
      encoding: UTF-8
      string: '{"queued":true}'
  recorded_at: Fri, 02 Jul 2021 12:29:46 GMT
recorded_with: VCR 6.0.0
