---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/webflow_site_id/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"O5WggQZDm+J7uUXdpmZGJg=="
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 105.238ms
      X-Wf-Rid:
      - 149bffd0-e70c-4122-8da6-7ee9f9d0aee2
    body:
      encoding: UTF-8
      string: '[{"_id":"601049c193382147ea2919a8","lastUpdated":"2021-01-26T16:56:39.839Z","createdOn":"2021-01-11T23:24:29.591Z","name":"Articles","slug":"articles","singularName":"Article"},{"_id":"601049c19338215de7291945","lastUpdated":"2021-01-26T16:56:39.946Z","createdOn":"2021-01-12T12:38:39.095Z","name":"Documents","slug":"documents","singularName":"Document"},{"_id":"601049c19338211a6d29195b","lastUpdated":"2021-01-26T16:56:40.043Z","createdOn":"2021-01-11T23:28:29.566Z","name":"Entities","slug":"entities","singularName":"Entity"},{"_id":"601049c193382173b229196f","lastUpdated":"2021-01-26T16:56:40.082Z","createdOn":"2021-01-12T01:50:06.685Z","name":"Events","slug[...]
- request:
    method: patch
    uri: https://api.webflow.com/collections/601049c193382147ea2919a8/items/webflow_item_id?live=true
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"Updated Resource
        title","link":"http://mcglynnkoch.ca"}}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1cf-dfbdf7b9"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 423.191ms
      X-Wf-Rid:
      - d477e93a-dc54-4ab0-a437-a965c7ce82d1
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"link":"http://mcglynnkoch.ca","name":"Updated
        article title","slug":"return-of-the-fake-clash","updated-on":"2021-01-28T15:50:47.948Z","updated-by":"Person_600e7e930d76e69196a9592b","created-on":"2021-01-28T12:01:58.755Z","created-by":"Person_600e7e930d76e69196a9592b","published-on":"2021-01-28T15:50:47.948Z","published-by":"Person_600e7e930d76e69196a9592b","_cid":"601049c193382147ea2919a8","_id":"webflow_item_id"}'
  recorded_at: Thu, 28 Jan 2021 15:50:48 GMT
recorded_with: VCR 6.0.0
