---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c3-2284ab52"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 29.114ms
      X-Wf-Rid:
      - 98a4fd00-9575-42e9-8b63-be2ca4a9c67b
    body:
      encoding: UTF-8
      string: '[{"_id":"60dec92f438fac75a4c6f319","lastUpdated":"2021-07-02T08:07:12.671Z","createdOn":"2021-06-21T13:51:07.981Z","name":"Events","slug":"events","singularName":"Event"},{"_id":"60dec92f438facb188c6f318","lastUpdated":"2021-07-02T08:07:12.664Z","createdOn":"2021-06-16T17:17:46.482Z","name":"Stories","slug":"stories","singularName":"Story"},{"_id":"60dedb8820c1f553b0e817cf","lastUpdated":"2021-07-02T09:44:10.730Z","createdOn":"2021-07-02T09:25:28.723Z","name":"Job
        Listings","slug":"job-listings","singularName":"Job Listing"},{"_id":"60def7d3372f766c163734c2","lastUpdated":"2021-07-02T11:48:19.748Z","createdOn":"2021-07-02T11:26:11.474Z","name":"Articles","slug":"articles","singularName":"Article"}]'
  recorded_at: Tue, 06 Jul 2021 09:23:46 GMT
- request:
    method: patch
    uri: https://api.webflow.com/collections/60dec92f438facb188c6f318/items/60e322688be95d22c22d5041?live=true
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"MyString"}}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a5-cadfae5b"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 90.328ms
      X-Wf-Rid:
      - c140b262-ecca-49b7-9d5b-f97af584fe7f
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"featured":false,"name":"MyString","slug":"mystring-a","updated-on":"2021-07-06T09:23:47.203Z","updated-by":"Person_600e7e930d76e69196a9592b","created-on":"2021-07-05T15:16:56.890Z","created-by":"Person_600e7e930d76e69196a9592b","published-on":"2021-07-06T09:23:47.203Z","published-by":"Person_600e7e930d76e69196a9592b","_cid":"60dec92f438facb188c6f318","_id":"60e322688be95d22c22d5041"}'
  recorded_at: Tue, 06 Jul 2021 09:23:47 GMT
- request:
    method: get
    uri: https://api.webflow.com/collections/60dec92f438facb188c6f318
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7DZ/l6KdqrEJSxsXRVvw5g=="
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Response-Time:
      - 38.617ms
      X-Wf-Rid:
      - c24f0c7c-0e72-47d3-a06e-b1612de819c4
    body:
      encoding: UTF-8
      string: '{"_id":"60dec92f438facb188c6f318","lastUpdated":"2021-07-02T08:07:12.664Z","createdOn":"2021-06-16T17:17:46.482Z","name":"Stories","slug":"stories","singularName":"Story","fields":[{"name":"storyCategory","slug":"storycategory","type":"Option","required":false,"editable":true,"helpText":"","id":"5eacc33b93e7d6ac47446b0e43b310cb","validations":{"options":[{"name":"Arts
        & Culture","id":"a23fa7929089e27db3b7c07bf1e11566"},{"name":"Community","id":"97489d26c3a38e1da73139575359a3d3"},{"name":"Local
        Business","id":"52bd17856ab0aedab9f9e1b87c0a78fa"}]}},{"name":"storyExcerpt","slug":"storyexcerpt","type":"PlainText","required":false,"editable":true,"helpText":"","id":"951ea44198e742e55549350001833b36","validations":{"singleLine":false}},{"name":"storyFullArticle","slug":"storyfullarticle","type":"RichText","required":false,"editable":true,"helpText":"","id":"897fde272d194b045f19b249e579e5ca"},{"name":"storyPublishDate","slug":"storypublishdate","type":"Date","required":false,"editable":true,"helpText":"","id":"c0749ec48cb81e2837a74a12b8d05313"},{"name":"storyFeaturedImage","slug":"storyfeaturedimage","type":"ImageRef","required":false,"editable":true,"helpText":"","id":"2f4b35af77877f0fa95c35272c973f5f"},{"name":"Featur[...]
