---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"179-Ob+JKqqmWqqZ3y2SzFH9qGm3VNc"
      Retry-After:
      - '17'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 61.777ms
    body:
      encoding: UTF-8
      string: '{"collections":[{"id":"653816abb6e95dab52f53077","displayName":"Articles","singularName":"Article","slug":"articles","createdOn":"2023-10-24T19:10:35.092Z","lastUpdated":"2023-10-24T19:10:35.260Z"},{"id":"653818838961b39ddebe0641","displayName":"Stories","singularName":"Story","slug":"stories","createdOn":"2023-10-24T19:18:27.801Z","lastUpdated":"2023-10-24T19:18:27.978Z"}]}'
  recorded_at: Tue, 24 Oct 2023 19:23:01 GMT
- request:
    method: patch
    uri: https://api.webflow.com/v2/collections/653818838961b39ddebe0641/items/65381893e6d401cdd3f3a363
    body:
      encoding: UTF-8
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Updated article
        title"}}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"127-CxkoZaxply0hWAqd3Wj1rEM6Yt0"
      Retry-After:
      - '16'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 994.245ms
    body:
      encoding: UTF-8
      string: '{"id":"65381893e6d401cdd3f3a363","cmsLocaleId":"653816aa76146f23a78743c8","lastPublished":"2023-10-24T19:18:44.506Z","lastUpdated":"2023-10-24T19:23:05.902Z","createdOn":"2023-10-24T19:18:43.471Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Updated
        article title","slug":"mystring"}}'
  recorded_at: Tue, 24 Oct 2023 19:23:03 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653818838961b39ddebe0641/items/publish
    body:
      encoding: UTF-8
      string: '{"itemIds":["65381893e6d401cdd3f3a363"]}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-lyoodO/vgkNtftK1F9W6qqm60+c"
      Retry-After:
      - '14'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Response-Time:
      - 2422.860ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["65381893e6d401cdd3f3a363"],"errors":[]}'
  recorded_at: Tue, 24 Oct 2023 19:23:06 GMT
recorded_with: VCR 6.1.0
