---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c3-2284ab52"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 30.489ms
      X-Wf-Rid:
      - '09534bc2-e1da-454e-afc9-f647492e1aa4'
    body:
      encoding: UTF-8
      string: '[{"_id":"60dec92f438fac75a4c6f319","lastUpdated":"2021-07-02T08:07:12.671Z","createdOn":"2021-06-21T13:51:07.981Z","name":"Events","slug":"events","singularName":"Event"},{"_id":"60dec92f438facb188c6f318","lastUpdated":"2021-07-02T08:07:12.664Z","createdOn":"2021-06-16T17:17:46.482Z","name":"Stories","slug":"stories","singularName":"Story"},{"_id":"60dedb8820c1f553b0e817cf","lastUpdated":"2021-07-02T09:44:10.730Z","createdOn":"2021-07-02T09:25:28.723Z","name":"Job
        Listings","slug":"job-listings","singularName":"Job Listing"},{"_id":"60def7d3372f766c163734c2","lastUpdated":"2021-07-02T11:48:19.748Z","createdOn":"2021-07-02T11:26:11.474Z","name":"Articles","slug":"articles","singularName":"Article"}]'
  recorded_at: Fri, 02 Jul 2021 12:15:09 GMT
[...]
- request:
    method: post
    uri: https://api.webflow.com/collections/60def7d3372f766c163734c2/items?live=true
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"Updated article
        title"}}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ac-a530e7fd"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 120.832ms
      X-Wf-Rid:
      - 4b7864b4-d921-46c3-a35d-1759b2963d6f
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"name":"Updated article title","slug":"updated-article-title","updated-on":"2021-07-02T12:15:09.735Z","updated-by":"Person_600e7e930d76e69196a9592b","created-on":"2021-07-02T12:15:09.735Z","created-by":"Person_600e7e930d76e69196a9592b","published-on":"2021-07-02T12:15:09.735Z","published-by":"Person_600e7e930d76e69196a9592b","_cid":"60def7d3372f766c163734c2","_id":"60df034df15eb4eca4bc012c"}'
  recorded_at: Fri, 02 Jul 2021 12:15:09 GMT
- request:
    method: patch
    uri: https://api.webflow.com/collections/60def7d3372f766c163734c2/items/60defde681813e53c6be97ea?live=true
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"Updated article
        title"}}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a1-a1d00781"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Response-Time:
      - 187.677ms
      X-Wf-Rid:
      - 5a94f1f0-904c-4e36-a9f5-f53af37e067e
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"name":"Updated article title","slug":"mystring-6","updated-on":"2021-07-02T12:15:09.771Z","updated-by":"Person_600e7e930d76e69196a9592b","created-on":"2021-07-02T11:52:06.140Z","created-by":"Person_600e7e930d76e69196a9592b","published-on":"2021-07-02T12:15:09.771Z","published-by":"Person_600e7e930d76e69196a9592b","_cid":"60def7d3372f766c163734c2","_id":"60defde681813e53c6be97ea"}'
  recorded_at: Fri, 02 Jul 2021 12:15:09 GMT
recorded_with: VCR 6.0.0
