---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"179-Ob+JKqqmWqqZ3y2SzFH9qGm3VNc"
      Retry-After:
      - '15'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Response-Time:
      - 62.826ms
    body:
      encoding: UTF-8
      string: '{"collections":[{"id":"653816abb6e95dab52f53077","displayName":"Articles","singularName":"Article","slug":"articles","createdOn":"2023-10-24T19:10:35.092Z","lastUpdated":"2023-10-24T19:10:35.260Z"},{"id":"653818838961b39ddebe0641","displayName":"Stories","singularName":"Story","slug":"stories","createdOn":"2023-10-24T19:18:27.801Z","lastUpdated":"2023-10-24T19:18:27.978Z"}]}'
  recorded_at: Tue, 24 Oct 2023 19:20:18 GMT
- request:
    method: patch
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/653817458c993c9a49fc411b
    body:
      encoding: UTF-8
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Updated article
        title"}}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12d-LpKryb9bLhDcnIdZsurOKp+1uOc"
      Retry-After:
      - '14'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Response-Time:
      - 125.178ms
    body:
      encoding: UTF-8
      string: '{"id":"653817458c993c9a49fc411b","cmsLocaleId":"653816aa76146f23a78743c8","lastPublished":"2023-10-24T19:18:32.824Z","lastUpdated":"2023-10-24T19:20:22.357Z","createdOn":"2023-10-24T19:13:09.648Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Updated
        article title","slug":"mystring-c53c2"}}'
  recorded_at: Tue, 24 Oct 2023 19:20:19 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/publish
    body:
      encoding: UTF-8
      string: '{"itemIds":["653817458c993c9a49fc411b"]}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-aJ8ihnM6AueRMK3OltlXqZzwXk0"
      Retry-After:
      - '13'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Response-Time:
      - 186.026ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["653817458c993c9a49fc411b"],"errors":[]}'
  recorded_at: Tue, 24 Oct 2023 19:20:20 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/653817458c993c9a49fc411b
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"126-lC7TO/gGyjpmSdrG1db5jHBQLQs"
      Retry-After:
      - '57'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Response-Time:
      - 1465.993ms
    body:
      encoding: UTF-8
      string: '{"id":"653817458c993c9a49fc411b","cmsLocaleId":"653816aa76146f23a78743c8","lastPublished":"2023-10-24T20:41:37.391Z","lastUpdated":"2023-10-24T20:41:37.391Z","createdOn":"2023-10-24T19:13:09.648Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Updated
        article title","slug":"mystring-c53c2"}}'
  recorded_at: Tue, 24 Oct 2023 20:41:37 GMT
recorded_with: VCR 6.1.0
