---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"179-Ob+JKqqmWqqZ3y2SzFH9qGm3VNc"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 111.502ms
    body:
      encoding: UTF-8
      string: '{"collections":[{"id":"653816abb6e95dab52f53077","displayName":"Articles","singularName":"Article","slug":"articles","createdOn":"2023-10-24T19:10:35.092Z","lastUpdated":"2023-10-24T19:10:35.260Z"},{"id":"653818838961b39ddebe0641","displayName":"Stories","singularName":"Story","slug":"stories","createdOn":"2023-10-24T19:18:27.801Z","lastUpdated":"2023-10-24T19:18:27.978Z"}]}'
  recorded_at: Wed, 06 Dec 2023 04:56:11 GMT
[...]
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items
    body:
      encoding: UTF-8
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"MyString"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10a-UzDY8+83AAI9WimydL6S7bDWBo0"
      Retry-After:
      - '59'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 330.522ms
    body:
      encoding: UTF-8
      string: '{"id":"656ffeec25257cd0214d67ca","cmsLocaleId":"653816aa76146f23a78743c8","lastPublished":null,"lastUpdated":"2023-12-06T04:56:12.744Z","createdOn":"2023-12-06T04:56:12.744Z","isArchived":false,"isDraft":false,"fieldData":{"name":"MyString","slug":"mystring-e2b54"}}'
  recorded_at: Wed, 06 Dec 2023 04:56:12 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/publish
    body:
      encoding: UTF-8
      string: '{"itemIds":["656ffeec25257cd0214d67ca"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-vXkYVhyGJOKHKUW91PoAZyGxAyg"
      Retry-After:
      - '59'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 320.339ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["656ffeec25257cd0214d67ca"],"errors":[]}'
  recorded_at: Wed, 06 Dec 2023 04:56:13 GMT
- request:
    method: patch
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/656ffeec25257cd0214d67ca
    body:
      encoding: UTF-8
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"MyString"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"120-3y/YulT+CXJT12mmtYzdXPyy18s"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 138.723ms
    body:
      encoding: UTF-8
      string: '{"id":"656ffeec25257cd0214d67ca","cmsLocaleId":"653816aa76146f23a78743c8","lastPublished":"2023-12-12T10:52:09.104Z","lastUpdated":"2023-12-12T13:06:51.511Z","createdOn":"2023-12-06T04:56:12.744Z","isArchived":false,"isDraft":false,"fieldData":{"name":"MyString","slug":"mystring-e2b54"}}'
  recorded_at: Tue, 12 Dec 2023 13:06:50 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/653816abb6e95dab52f53077/items/publish
    body:
      encoding: UTF-8
      string: '{"itemIds":["656ffeec25257cd0214d67ca"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-vXkYVhyGJOKHKUW91PoAZyGxAyg"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 615.110ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["656ffeec25257cd0214d67ca"],"errors":[]}'
  recorded_at: Tue, 12 Dec 2023 13:06:51 GMT
recorded_with: VCR 6.1.0
