---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/<WEBFLOW_SITE_ID>/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c3-2284ab52"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 28.108ms
      X-Wf-Rid:
      - ed02a192-4951-48c4-9f3a-6704b65ea1be
    body:
      encoding: UTF-8
      string: '[{"_id":"60dec92f438fac75a4c6f319","lastUpdated":"2021-07-02T08:07:12.671Z","createdOn":"2021-06-21T13:51:07.981Z","name":"Events","slug":"events","singularName":"Event"},{"_id":"60dec92f438facb188c6f318","lastUpdated":"2021-07-02T08:07:12.664Z","createdOn":"2021-06-16T17:17:46.482Z","name":"Stories","slug":"stories","singularName":"Story"},{"_id":"60dedb8820c1f553b0e817cf","lastUpdated":"2021-07-02T09:44:10.730Z","createdOn":"2021-07-02T09:25:28.723Z","name":"Job
        Listings","slug":"job-listings","singularName":"Job Listing"},{"_id":"60def7d3372f766c163734c2","lastUpdated":"2021-07-02T11:48:19.748Z","createdOn":"2021-07-02T11:26:11.474Z","name":"Articles","slug":"articles","singularName":"Article"}]'
  recorded_at: Tue, 06 Jul 2021 09:23:44 GMT
- request:
    method: patch
    uri: https://api.webflow.com/collections/60dec92f438facb188c6f318/items/60e322688be95d22c22d5041?live=true
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"Updated article
        title"}}'
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b2-8ba5b4"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 146.169ms
      X-Wf-Rid:
      - 46c513a0-4284-436e-9d78-8714e163ca39
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"featured":false,"name":"Updated
        article title","slug":"mystring-a","updated-on":"2021-07-06T09:23:45.550Z","updated-by":"Person_600e7e930d76e69196a9592b","created-on":"2021-07-05T15:16:56.890Z","created-by":"Person_600e7e930d76e69196a9592b","published-on":"2021-07-06T09:23:45.550Z","published-by":"Person_600e7e930d76e69196a9592b","_cid":"60dec92f438facb188c6f318","_id":"60e322688be95d22c22d5041"}'
  recorded_at: Tue, 06 Jul 2021 09:23:45 GMT
recorded_with: VCR 6.0.0
